*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}

p{
  font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}


//  çok satan ürün slayderi
.card_slider_swipper {
  height: 497px;

    html {
        position: relative;
        height: 100%;
    }
    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        &.swiper-slide-next{
          z-index: -1;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}


// ürün kartı

.card-of-product{
    margin-bottom: 50px;
    width: 262px;
    height: 381px;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    .card_text_area{
      padding-top: 10px;
    }
    .product-picture{
        border-radius: 28px 28px 0px 0px;
        width: 100%;
        height: 211px;
        background: url(/assets/images/orn-mockup.png);
    }
    .action_button{
      margin-bottom: 10px;
    }
    .product-weight{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 58px;
        border-radius: 28px 0px 38px 0px;
        background-color: #45726e;
        p{
            color: #fff;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .card-top-buttons{
        display: flex;
        width: 45px;
        flex-direction: column;
        align-items: center;
        img{
            width: 17px;
            object-fit: contain;
        }
    }
    .share_button{
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 10px ;
    }
    .star_icon{
        width: 30px;
        height: 30px;
        background: url(/assets/images/Icon-star.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin-top: 4px ;
            font-size: 10px;
            color: #fff;
        }
    }
    .product_name{
        line-height: 2px;
        margin: 0 ;
        padding: 10px ;
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        strong{
            font-weight: 600;
        }
    }
    .text_of_product{
        line-height: 15px;
        margin: 0 ;
        padding: 0px 0px 0px 10px ;
        font-size: 12px;
        font-weight: 250;
        text-align: left;
    }
    .coffee_cup{
        display: flex;
        img{
            margin-right: -10px ;
            width: 30px;
            opacity: 40%;
        }
    }
    .discound_shape{
        display: flex;
        width: 62px;
        justify-content: center;
        align-items: center;
        padding-left: 10px ;
        p{
            color: #fff;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .card_price{
        sup{
            &::before{
                position: absolute;
                content: "";
                left: 0px;
                top: 8px;
                width: 43px;
                right: 0;
                border-top: 3px solid;
                border-color: red;
                transform:rotate(-5deg);
            }
        }
        
    }
    .shop_buttons{
        width: 100px;
        height: 45px;
        float: right;
        display: flex;
        justify-content: center;
        align-items:center;
        align-content:center;
      }
      .favorite_icon {
        cursor: pointer;
        margin-bottom: 0rem ;
        margin-right: 3px ;
        input {
            + {
                .like_button1231 {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 31px;
                    height: 31px;
                    transition: all .2s ease-out;
                    background-color: #45726e;
                    /* &:hover {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        width: 41px;
                        height: 41px;
                    } */
                }
            }
            &:checked {
                + {
                    .like_button1231 {
                        background-color: rgb(175, 0, 0);
                    }
                }
            }
        }
        img{
            width: 60%;
            object-fit: contain;
        }
    }
    .bell-ring{
      line-height: 12px;
      margin-bottom: 8px;
    }
    .ring_checkbox {
      cursor: pointer;
      margin-bottom: 0rem ;
      // margin-right: 3px ;
      input {
          + {
              .bell-ring1231 {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  transition: all .3s ease-out;
                  /* background-color: #45726e; */
                  /* &:hover {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                      width: 41px;
                      height: 41px;
                  } */
              }
          }
          &:checked {
              + {
                  .bell-ring1231 {
                      path{
                        stroke: rgb(175, 0, 0);
                      }
                  }
              }
          }
      }
      img{
          width: 60%;
          object-fit: contain;
      }
  }
    .shop_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: #45726e;
        border-radius: 50%;
        transition: 0.3s;
        img {
            width: 60% ;
            object-fit: contain;
        }
        &:hover {
            width: 42px;
            height: 42px;
            background-color: #432222;
        }
    }
    
    
}


// menü

.botmu1a .botmu1a .mainMenuOverlay.open .navire {
  right: 70%;
  -webkit-transition: right 28s ease 1s;
  transition: right 28s ease 1s;
}
.botmu1a .mainMenuOverlay {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgb(69 114 110 / 43%);
  // background: #00003357;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -420px;
  z-index: 999;
  height: 420px;
  box-shadow: 0 0 15px -3px #03374a;
  border-radius: 100% 100% 0 0 / 14% 14% 0 0;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.botmu1a .mainMenuOverlay.open {
  bottom: 0;
}

.botmu1a .mainMenuOverlay .toggleMenu {
  display: block;
  background-color: #45726e;
  border: 1px solid #fff;
  border-radius: 80px;
  width: 62px;
  height: 62px;
  position: absolute;
  top: -50px;
  left: 50%;
  margin: -31px 0 0 -31px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 62px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
  -webkit-transition: box-shadow 0.5s ease, top 0.5s ease;
  transition: box-shadow 0.5s ease, top 0.5s ease;
}


.botmu1a .mainMenuOverlay.open .toggleMenu {
  top: 50%;
  background-color: #45726e;
}

.botmu1a .mainMenuOverlay .itemMenuBox {
  background: url(../images/backgraund/go2.png) no-repeat center center;
  background-size: 28px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -31px 0 0 -31px;
  height: 62px;
  width: 142px;
  text-align: right;
  border-radius: 40px;
  -webkit-transform-origin: 31px 31px;
  -ms-transform-origin: 31px 31px;
  transform-origin: 31px 31px;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}
.botmu1a .mainMenuOverlay.open .itemMenuBox {
  width: 182px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.botmu1a .mainMenuOverlay .itemMenuBox.bills {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.employees {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.location {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.eservices {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.contact {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox .itemMenu {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  background-color: #45726e;
  background-repeat: no-repeat;
  background-position: center center;
  width: 62px;
  height: 62px;
  border-radius: 40px;
  transition: all 0.8s ease;
  color: #fff;
  font-size: 28px;
  line-height: 64px;
  text-align: center;
}
.botmu1a .mainMenuOverlay .itemMenuBox.bills .itemMenu {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed .itemMenu {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.employees .itemMenu {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.location .itemMenu {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.eservices .itemMenu {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.contact .itemMenu {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.bills .itemMenu:hover {
  -webkit-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  transform: rotate(450deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed .itemMenu:hover {
  -webkit-transform: rotate(390deg);
  -ms-transform: rotate(390deg);
  transform: rotate(390deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.employees .itemMenu:hover {
  -webkit-transform: rotate(690deg);
  -ms-transform: rotate(690deg);
  transform: rotate(690deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.location .itemMenu:hover {
  -webkit-transform: rotate(630deg);
  -ms-transform: rotate(630deg);
  transform: rotate(630deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.eservices .itemMenu:hover {
  -webkit-transform: rotate(570deg);
  -ms-transform: rotate(570deg);
  transform: rotate(570deg);
}
.botmu1a .mainMenuOverlay .itemMenuBox.contact .itemMenu:hover {
  -webkit-transform: rotate(510deg);
  -ms-transform: rotate(510deg);
  transform: rotate(510deg);
}
.botmu1a .floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 5px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}

.botmu1a .floating2 {
  -webkit-animation-name: Floatingx2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx2 {
  from {
    -webkit-transform: translate(0, 0px);
  }
  45% {
    -webkit-transform: translate(0, 8px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes Floating2 {
  from {
    -moz-transform: translate(0, 0px);
  }
  45% {
    -moz-transform: translate(0, 8px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}



// kategori slayderi

.category_slider{
  margin-bottom: 0;
  html {
    position: relative;
    height: 100%;
  }
  body {
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
}


// kategori başlık

.category_header{
  padding-left: 20px;
  display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 15px;
  div{
    background-image: url(/assets/images/GB_logo_headers.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  h1{
    font-size: 16px;
    line-height: 11px;
    font-weight: 700;
    color: #45726e;
  }
  span{
    text-decoration: underline;
    font-weight: 500;
  }
}

// kategori kartları

.category_card{
  width: 75px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  div{
    width: 80px;
    height: 80px;
  }
  h1{
    font-size: 12px;
    line-height: 11px;
    font-weight: 400;
    color: #45726e;
  }
}


// test kısmı

section[name="test"]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 330px;
  
    a{
      position: absolute;
      width: 140px;
      height: 140px;
    }
    .rotate_center{
      
      background-image: url(/assets/images/rotate_center.webp);
      background-position: center;
      background-size: cover;
      width: 140px;
      height: 140px;
    }
    .product_rotate{
      background-image: url(/assets/images/product_rotate.webp);
      background-position: center;
      background-size: cover;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  // ürünleri döndürme

  .rotate{
    animation: 6s linear infinite rotate;
    position: relative;
    // top: $size * -1;
    // transform-origin: 50% 100%;
    transform-origin: center;
  }
  @keyframes rotate {
    from {
    transform: rotate(0deg)
    }
    to {
    transform: rotate(360deg)
    }
}



// ürün paylaş butonu ana sayfa


.share_button{
  width: 14.05px;
  height: 17.56px;
  background: transparent;
  // float: right;
  // margin-top: 15px;
  // margin-right: 15px;
  cursor: pointer;
  transition: all 400ms ease;
}
.share_button img:hover {
  transform: scale(1.3) !important;
  transition: all 400ms ease;
}
.card_slider .owl-stage-outer{
  height: 450px !important;
  padding-top: 50px;
}
.share_button .sm-wrapper {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  // top: -4px;
  // left: 240px;
  z-index: 999999999;
  cursor: default;
  transform: translate(40%, -12%);
}

.share_button .sm-wrapper .sm-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 400ms ease;
}

.share_button .sm-wrapper .sm-icon:hover {
  transform: scale(1.1);
}

.share_button .sm-wrapper .sm-icon:nth-child(1) {
  background: #179cf0;
  top: 4px;
  left: calc(90px - 55px - 16px);
}

.share_button .sm-wrapper .sm-icon:nth-child(2) {
  background: #4167b2;
  right: 0;
  top: calc(90px - 55px - 16px);
}

.share_button .sm-wrapper .sm-icon:nth-child(3) {
  background: #27b53e;
  bottom: 3px;
  left: calc(90px - 35px - 16px);
}


// green brown kart bölümü

section[name="card"]{
  html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 90%;
        /* height: 100%; */
        margin-bottom: 40px;
        object-fit: cover;
        border-radius: 15px 15px 15px 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
}


// ürün kartı - 1

.card-of-product1{
  margin-bottom: 50px;
  width: 262px;
  height: 381px;
  border-radius: 28px;
  background: #44726e;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  .card_text_area{
    padding-top: 10px;
    h1{
      color: rgb(255, 255, 255);
    }
    p{
      color: #fff;
    }
    b{
      color: #fff;
    }
    sup{
      color: #fff;
    }
  }
  .product-picture{
      border-radius: 28px 28px 0px 0px;
      width: 100%;
      height: 211px;
      background: url(/assets/images/orn-mockup.png);
  }
  .action_button{
    margin-bottom: 10px;
  }
  .product-weight{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 58px;
      border-radius: 28px 0px 38px 0px;
      background-color: #45726e;
      p{
          color: #fff;
          font-weight: 500;
          font-size: 14px;
      }
  }
  .card-top-buttons{
      display: flex;
      width: 45px;
      flex-direction: column;
      align-items: center;
      img{
          width: 17px;
          object-fit: contain;
      }
  }
  .share_button{
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-bottom: 10px ;
  }
  .star_icon{
      width: 30px;
      height: 30px;
      background: url(/assets/images/Icon-star.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-x: center;
      background-position-y: center;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
          margin-top: 4px ;
          font-size: 10px;
          color: #fff;
      }
  }
  .product_name{
      line-height: 2px;
      margin: 0 ;
      padding: 10px ;
      font-size: 16px;
      font-weight: 200;
      text-align: left;
      strong{
          font-weight: 600;
      }
  }
  .text_of_product{
      line-height: 15px;
      margin: 0 ;
      padding: 0px 0px 0px 10px ;
      font-size: 12px;
      font-weight: 250;
      text-align: left;
  }
  .coffee_cup{
      display: flex;
      img{
          margin-right: -10px ;
          width: 30px;
          opacity: 40%;
      }
  }
  .discound_shape{
      display: flex;
      width: 62px;
      justify-content: center;
      align-items: center;
      padding-left: 10px ;
      p{
          color: #44726e;
          font-weight: 500;
          font-size: 14px;
      }
  }
  .card_price{
      sup{
          &::before{
              position: absolute;
              content: "";
              left: 0px;
              top: 8px;
              width: 43px;
              right: 0;
              border-top: 3px solid;
              border-color: red;
              transform:rotate(-5deg);
          }
      }
      
  }
  .shop_buttons{
      width: 100px;
      height: 45px;
      float: right;
      display: flex;
      justify-content: center;
      align-items:center;
      align-content:center;
    }
    .favorite_icon {
      cursor: pointer;
      margin-bottom: 0rem ;
      margin-right: 3px ;
      input {
          + {
              .like_button1231 {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  border-radius: 50%;
                  width: 31px;
                  height: 31px;
                  transition: all .2s ease-out;
                  background-color: #fff;
                  align-items: center;
                  path{
                    fill: #44726e;
                  }
                  /* &:hover {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                      width: 41px;
                      height: 41px;
                  } */
              }
          }
          &:checked {
              + {
                  .like_button1231 {
                      background-color: rgb(175, 0, 0);
                      path{
                        fill: #fff;
                      }
                  }
              }
          }
      }
      img{
          width: 60%;
          object-fit: contain;
      }
  }
  .bell-ring{
    line-height: 12px;
    margin-bottom: 8px;
  }
  .ring_checkbox {
    cursor: pointer;
    margin-bottom: 0rem ;
    // margin-right: 3px ;
    input {
        + {
            .bell-ring1231 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                transition: all .3s ease-out;
                /* background-color: #45726e; */
                /* &:hover {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    width: 41px;
                    height: 41px;
                } */
            }
        }
        &:checked {
            + {
                .bell-ring1231 {
                    path{
                      stroke: rgb(175, 0, 0);
                    }
                }
            }
        }
    }
    img{
        width: 60%;
        object-fit: contain;
    }
}
  .shop_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 50%;
      transition: 0.3s;
      svg{
        width: 45%;
      }
      path{
        fill: #44726e;
      }
      img {
          width: 60% ;
          object-fit: contain;
      }
      &:hover {
          width: 42px;
          height: 42px;
          background-color: #432222;
      }
  }
  
  
}

// müzik bölümü

.music_slider{
  position: relative;
    .watermark{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      width: 100%;
      bottom: -26px;
      img{
        width: 180px;
        opacity: 15%;
      }
    }
}



.music_area{
  height: 246px;
  width: 365px;
  .plak{
    z-index: -1;
    position: relative;
    top: -238px;
    width: 234px;
    left: 128px;
    animation: 6s linear infinite rotate;
  }
  .jaz{
    z-index: 3;
    width: 265px;
    height: 246px;
    border-radius: 20px 20px 20px 20px;
    background-size: cover;
    background-position: center;
    .jaz_color{
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 20px 20px;
      .jaz_text{
        position: relative;
        top: 36%;
        left: 5%;
        padding: 5px;
        width: 90%;
        height: 95px;
        background: rgba(0, 0, 0, 0.28);
        border-radius: 10px 10px 10px 10px;
        h1{
          font-size: 16px;
          color: #fff;
          line-height: 1.8;
          font-weight: 100;
          text-align: left;
        }
        p{
          font-size: 12px;
          color: #fff;
          line-height: 1.4;
          text-align: left;
        }
      }
    }
  }
}



//buton tasarımı

.button_scss {
  font: 12px poppins;
  border-radius: 15.5px 15.5px 15.5px 15.5px;
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  color: #45726E;
  background: red; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(190, 32, 32) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  
}
.button_scss:hover {
  background-position: left;
  color: #ffffff;
  svg path{
      transition: 1s ease-out;
      fill: rgb(255, 255, 255);
  }
}



// music swiper


.music_carousel{
      height: 325px;
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        // width: 100%;
        // height: 100%;
        object-fit: cover;
      }
}

.video_slayder{
  margin-top: 20px;
}
.video_carousel{
  height: 450px;
  html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        // width: 100%;
        // height: 100%;
        object-fit: cover;
      }
}


// kazandıran ürünler slayderi

.winning_products{
  margin-top: 80px;
  .main_product_card{
    width: 287px;
    height: 424px;
    background-size: cover;
    h1{
      font-size: 16px;
      color: #ffffff;
      padding-left: 20px;
      margin-top: -50px;
      text-align: center;
    }
    p{
      font-size: 12px;
      color: #ffffff;
      line-height: 0px;      
    }
    .product_text1{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      :nth-child(2){
        text-decoration: underline;
      }
    }
    .product_photo{
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      top: -65px;
      img{
        height: 220px;
      }
    }
  }
}


// footer

.footer{
  .footer_background{
    background: url(/assets/images/shape_footer.png);
    background-color: #004D3F;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    h1{
      font-size: 16px;
      color: #fff;
      font-weight: 200;
    }
    p{
      font-size: 12px;
      color: #fff;
      font-weight: 300;
    }
    .text_area_fotter{
      display: flex;
    justify-content: space-around;
    }
    .adress_text{
      padding: 10px;
      max-width: 223px;
    }
    .link_textbox{
      padding: 10px;
    }
    .social_media_icon{
      margin-top: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social_icon{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.315);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 7px;
      i{
        color: #fff;
        font-size: 14px;
      }
    }
  }
  .line1{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #00382E;
    align-items: center;
    justify-content: space-around;
    p{
      font-size: 12px;
      color: #fff;
      font-weight: 200;
    }
    img{
      height: 15px;
    }
  }
  .line2{
    height: 50px;
    width: 100%;
    background-color: #002620;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 40px;
    }
  }
}


// banner area

.banner1{
  margin-bottom: 20px;
  div{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
}


// headerdeki logo

.top_header{
  padding: 0 5% 0 5%;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 0;
  a{
    color: unset;
    img{
      width: 110px;
    }
    :hover{
      color: unset;
    }
  }
  i{
    font-size: 14px;
    color: #585955;
  }
  .header_right{
    display: flex;
    gap: 13px;
  }
  button{
    background-color: unset;
    padding: unset;
    line-height: unset;
    color: #000;
    border-radius: unset;
    :active{
      color: #b71a1a;
    }
  }
}
.modal_close{
  background-color: #b71a1a;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  margin-top: 20px;
      :hover{
        color: white;
    }
  
}
.modal_main{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    button{
      background-color: #efae20;
      border-radius: 12px 12px 12px 12px;
      padding: 6px 10px 6px 10px;
      width: 200px;
    }
    button:active{
        background-color: #b71a1a;
        color: #fff;
        border-radius: 12px 12px 12px 12px;
        padding: 6px 10px 6px 10px;
        width: 200px;
      }
}


// green brown magazine bölümü 

.magazine{
  display: flex;
  width: 100%;
  justify-content: center;
  .magazine_bg{
    background-image: url(/assets/images/sfondo-chicchi.jpg);
    width: 300px;
    height: 430px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      // width: 60%;
      height: 73%;
    }
  }
}



// blog bölümü

.blog{
    width: 365px;
    height: 219.5px;
    border-radius: 18px;
    box-shadow: 4px 10px 6px rgb(0 0 0 / 16%);
    background-position: center;
    background-size: cover;
    position: relative;
    h1{
      position: absolute;
      font-size: 14px;
      color: #fff;
      line-height: 1.8;
      font-weight: 200;
      text-align: left;

      background-color: green;
      max-width: 335px;
      border-radius: 6px;
      padding: 0 7px 0 5px;
      border-left: 10px solid #b71a1a;
      bottom: 65px;
      left: 10px;
    }
}



// -------------------------------ürün detay sayfası--------------------------------

//ürün detay slayder

.product_detail_carousel {
  .swiper-button-prev:after{
    font-size: 20px;
    transform: translate(-13px, 0px);
  }
  .swiper-button-next:after{
    font-size: 20px;
    transform: translate(13px, 0px);
  }
  .product_photo_Detail_page {
    width: 100%;
    height: 470px;
    background-size: cover;
    background-position: center;
  }
    svg{
      transform: translate(0px, -358px);
      z-index: 8;
      position: relative;
      height: auto;
      width: 30px;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
}



// ürün sayısını artırma

.prosuct_count_area{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  top: -106px;
  z-index: 3;
  margin-bottom: -135px;
  .prosuct_count{
    width: 42px;
    height: 110px;
    background-color: #005d4c;
    border-radius: 18px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    input {
      text-align: center;
      font-size: 14px;
      line-height: 0px;
      padding: 5px 0 5px 0;
      width: 30px;
      height: 30px;
      background-color: #007c5d;
      border: 0;
      color: #fff;
    }
    button {
      display: flex;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 0px;
      background-color: #014136;
      color: #fff;
      align-items: center;
      justify-content: center;
    }
  }
}

// ürün açıklama ve başlık kısmı

.product_information_txt{
  padding: 10px;
  h1{
    font-size: 16px;
    color: #000;
    font-weight: 300;
    line-height: 25px;
  }
  p{
    margin-top: 14px;
    font-size: 12px;
    line-height: 17px;
    color: rgb(140 140 140);
    font-weight: 200;
  }
}

.price_rating {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.rating_stars{
  img{
    opacity: 30%;
    width: 20px;
  }
}

.card_price sup::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 8px;
  width: 43px;
  right: 0;
  border-top: 3px solid;
  border-color: red;
  transform: rotate(-5deg);
}

// fiyat ve sepete ekle butonukısmı
.addtocard_price{
  position: fixed;
  width: 100%;
  z-index: 2;
  bottom: -8px;
  svg{
    width: 100%;
    height: auto;
    filter: drop-shadow(0px -4px 7px rgba(0, 0, 0, 0.4));
  }
  .card_price{
    position: absolute;
    top: 20px;
    left: 17px;
    z-index: 3;
  }
  button{
    position: absolute;
    z-index: 3;
    right: 17px;
    top: 14px;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    background-color: #004d3f;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
  }
  button:active{
    background-color: #007c5d;
  }
}


//favorim sayfası

.favorite_header{
  background: linear-gradient(90deg, rgb(68 114 110) 0%, rgb(0 77 63) 35%, rgb(68 114 110) 100%);
  margin-top: 45px;
  width: 100%;
  border-top: 1px solid rgb(88 89 85);
  border-bottom: 1px solid rgb(88 89 85);
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
}

.favorite_products{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .card-of-product{
    margin-bottom: 15px;
  }
}