* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.card_slider_swipper {
  height: 497px;
}
.card_slider_swipper html {
  position: relative;
  height: 100%;
}
.card_slider_swipper body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.card_slider_swipper .swiper {
  width: 100%;
  height: 100%;
}
.card_slider_swipper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.card_slider_swipper .swiper-slide.swiper-slide-next {
  z-index: -1;
}
.card_slider_swipper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-of-product {
  margin-bottom: 50px;
  width: 262px;
  height: 381px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.card-of-product .card_text_area {
  padding-top: 10px;
}
.card-of-product .product-picture {
  border-radius: 28px 28px 0 0;
  width: 100%;
  height: 211px;
}
.card-of-product .action_button {
  margin-bottom: 10px;
}
.card-of-product .product-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 58px;
  border-radius: 28px 0 38px 0;
  background-color: #45726e;
}
.card-of-product .product-weight p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.card-of-product .card-top-buttons {
  display: flex;
  width: 45px;
  flex-direction: column;
  align-items: center;
}
.card-of-product .card-top-buttons img {
  width: 17px;
  object-fit: contain;
}
.card-of-product .share_button {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-of-product .star_icon {
  width: 30px;
  height: 30px;
  background: url("/assets/images/Icon-star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-of-product .star_icon p {
  margin-top: 4px;
  font-size: 10px;
  color: #fff;
}
.card-of-product .product_name {
  line-height: 2px;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}
.card-of-product .product_name strong {
  font-weight: 600;
}
.card-of-product .text_of_product {
  line-height: 15px;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  font-weight: 250;
  text-align: left;
}
.card-of-product .coffee_cup {
  display: flex;
}
.card-of-product .coffee_cup img {
  margin-right: -10px;
  width: 30px;
  opacity: 40%;
}
.card-of-product .discound_shape {
  display: flex;
  width: 62px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.card-of-product .discound_shape p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.card-of-product .card_price sup::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 43px;
  right: 0;
  border-top: 3px solid;
  border-color: red;
  transform: rotate(-5deg);
}
.card-of-product .shop_buttons {
  width: 100px;
  height: 45px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-of-product .favorite_icon {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 3px;
}
.card-of-product .favorite_icon input + .like_button1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  transition: all 0.2s ease-out;
  background-color: #45726e;
  /* &:hover {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 41px;
                height: 41px;
            } */
}
.card-of-product .favorite_icon input:checked + .like_button1231 {
  background-color: rgb(175, 0, 0);
}
.card-of-product .favorite_icon img {
  width: 60%;
  object-fit: contain;
}
.card-of-product .bell-ring {
  line-height: 12px;
  margin-bottom: 8px;
}
.card-of-product .ring_checkbox {
  cursor: pointer;
  margin-bottom: 0;
}
.card-of-product .ring_checkbox input + .bell-ring1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  /* background-color: #45726e; */
  /* &:hover {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              width: 41px;
              height: 41px;
          } */
}
.card-of-product .ring_checkbox input:checked + .bell-ring1231 path {
  stroke: rgb(175, 0, 0);
}
.card-of-product .ring_checkbox img {
  width: 60%;
  object-fit: contain;
}
.card-of-product .shop_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #45726e;
  border-radius: 50%;
  transition: 0.3s;
}
.card-of-product .shop_icon img {
  width: 60%;
  object-fit: contain;
}
.card-of-product .shop_icon:hover {
  width: 42px;
  height: 42px;
  background-color: #432222;
}

.botmu1a .botmu1a .mainMenuOverlay.open .navire {
  right: 70%;
  -webkit-transition: right 28s ease 1s;
  transition: right 28s ease 1s;
}

.botmu1a .mainMenuOverlay {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(69, 114, 110, 0.43);
  position: fixed;
  left: 0;
  right: 0;
  bottom: -420px;
  z-index: 90;
  height: 420px;
  box-shadow: 0 0 15px -3px #03374a;
  border-radius: 100% 100% 0 0/14% 14% 0 0;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.botmu1a .mainMenuOverlay.open {
  bottom: 0;
}

.botmu1a .mainMenuOverlay .toggleMenu {
  display: block;
  background-color: #45726e;
  border: 1px solid #fff;
  border-radius: 80px;
  width: 62px;
  height: 62px;
  position: absolute;
  top: -50px;
  left: 50%;
  margin: -31px 0 0 -31px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 62px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
  -webkit-transition: box-shadow 0.5s ease, top 0.5s ease;
  transition: box-shadow 0.5s ease, top 0.5s ease;
}

.botmu1a .mainMenuOverlay.open .toggleMenu {
  top: 50%;
  background-color: #45726e;
}

.botmu1a .mainMenuOverlay .itemMenuBox {
  background: url("../images/backgraund/go2.png") no-repeat center center;
  background-size: 28px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -31px 0 0 -31px;
  height: 62px;
  width: 142px;
  text-align: right;
  border-radius: 40px;
  -webkit-transform-origin: 31px 31px;
  -ms-transform-origin: 31px 31px;
  transform-origin: 31px 31px;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}

.botmu1a .mainMenuOverlay.open .itemMenuBox {
  width: 182px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.botmu1a .mainMenuOverlay .itemMenuBox.bills {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.employees {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.location {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.eservices {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.contact {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox .itemMenu {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  background-color: #45726e;
  background-repeat: no-repeat;
  background-position: center center;
  width: 62px;
  height: 62px;
  border-radius: 40px;
  transition: all 0.8s ease;
  color: #fff;
  font-size: 28px;
  line-height: 64px;
  text-align: center;
}

.botmu1a .mainMenuOverlay .itemMenuBox.bills .itemMenu {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed .itemMenu {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.employees .itemMenu {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.location .itemMenu {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.eservices .itemMenu {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.contact .itemMenu {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.bills .itemMenu:hover {
  -webkit-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  transform: rotate(450deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.tarsheed .itemMenu:hover {
  -webkit-transform: rotate(390deg);
  -ms-transform: rotate(390deg);
  transform: rotate(390deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.employees .itemMenu:hover {
  -webkit-transform: rotate(690deg);
  -ms-transform: rotate(690deg);
  transform: rotate(690deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.location .itemMenu:hover {
  -webkit-transform: rotate(630deg);
  -ms-transform: rotate(630deg);
  transform: rotate(630deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.eservices .itemMenu:hover {
  -webkit-transform: rotate(570deg);
  -ms-transform: rotate(570deg);
  transform: rotate(570deg);
}

.botmu1a .mainMenuOverlay .itemMenuBox.contact .itemMenu:hover {
  -webkit-transform: rotate(510deg);
  -ms-transform: rotate(510deg);
  transform: rotate(510deg);
}

.botmu1a .floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 5px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
.botmu1a .floating2 {
  -webkit-animation-name: Floatingx2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx2 {
  from {
    -webkit-transform: translate(0, 0px);
  }
  45% {
    -webkit-transform: translate(0, 8px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating2 {
  from {
    -moz-transform: translate(0, 0px);
  }
  45% {
    -moz-transform: translate(0, 8px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
.category_slider {
  margin-bottom: 0;
}
.category_slider html {
  position: relative;
  height: 100%;
}
.category_slider body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.category_slider .swiper {
  width: 100%;
  height: 100%;
}
.category_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.category_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category_header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.category_header div {
  background-image: url("/assets/images/GB_logo_headers.svg");
  width: 25px;
  height: 25px;
  background-size: cover;
}
.category_header h1 {
  font-size: 16px;
  line-height: 11px;
  font-weight: 700;
  color: #45726e;
}
.category_header span {
  text-decoration: underline;
  font-weight: 500;
}

.category_card {
  width: 75px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.category_card div {
  width: 80px;
  height: 80px;
}
.category_card h1 {
  font-size: 12px;
  line-height: 11px;
  font-weight: 400;
  color: #45726e;
}

section[name=test] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
}
section[name=test] a {
  position: absolute;
  width: 140px;
  height: 140px;
}
section[name=test] .rotate_center {
  background-image: url("/assets/images/rotate_center.webp");
  background-position: center;
  background-size: cover;
  width: 140px;
  height: 140px;
}
section[name=test] .product_rotate {
  background-image: url("/assets/images/product_rotate.webp");
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
}

.rotate {
  animation: 6s linear infinite rotate;
  position: relative;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.share_button {
  width: 14.05px;
  height: 17.56px;
  background: transparent;
  cursor: pointer;
  transition: all 400ms ease;
}

.share_button img:hover {
  transform: scale(1.3) !important;
  transition: all 400ms ease;
}

.card_slider .owl-stage-outer {
  height: 450px !important;
  padding-top: 50px;
}

.share_button .sm-wrapper {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 999999999;
  cursor: default;
  transform: translate(40%, -12%);
}

.share_button .sm-wrapper .sm-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 400ms ease;
}

.share_button .sm-wrapper .sm-icon:hover {
  transform: scale(1.1);
}

.share_button .sm-wrapper .sm-icon:nth-child(1) {
  background: #179cf0;
  top: 4px;
  left: 19px;
}

.share_button .sm-wrapper .sm-icon:nth-child(2) {
  background: #4167b2;
  right: 0;
  top: 19px;
}

.share_button .sm-wrapper .sm-icon:nth-child(3) {
  background: #27b53e;
  bottom: 3px;
  left: 39px;
}

section[name=card] body,
section[name=card] html {
  position: relative;
  height: 100%;
}
section[name=card] body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
section[name=card] .swiper {
  width: 100%;
  height: 100%;
}
section[name=card] .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section[name=card] .swiper-slide img {
  display: block;
  width: 90%;
  /* height: 100%; */
  margin-bottom: 40px;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.card-of-product1 {
  margin-bottom: 50px;
  width: 262px;
  height: 381px;
  border-radius: 28px;
  background: #44726e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.card-of-product1 .card_text_area {
  padding-top: 10px;
}
.card-of-product1 .card_text_area h1 {
  color: rgb(255, 255, 255);
}
.card-of-product1 .card_text_area p {
  color: #fff;
}
.card-of-product1 .card_text_area b {
  color: #fff;
}
.card-of-product1 .card_text_area sup {
  color: #fff;
}
.card-of-product1 .product-picture {
  border-radius: 28px 28px 0 0;
  width: 100%;
  height: 211px;
}
.card-of-product1 .action_button {
  margin-bottom: 10px;
}
.card-of-product1 .product-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 58px;
  border-radius: 28px 0 38px 0;
  background-color: #45726e;
}
.card-of-product1 .product-weight p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.card-of-product1 .card-top-buttons {
  display: flex;
  width: 45px;
  flex-direction: column;
  align-items: center;
}
.card-of-product1 .card-top-buttons img {
  width: 17px;
  object-fit: contain;
}
.card-of-product1 .share_button {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-of-product1 .star_icon {
  width: 30px;
  height: 30px;
  background: url("/assets/images/Icon-star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-of-product1 .star_icon p {
  margin-top: 4px;
  font-size: 10px;
  color: #fff;
}
.card-of-product1 .product_name {
  line-height: 2px;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}
.card-of-product1 .product_name strong {
  font-weight: 600;
}
.card-of-product1 .text_of_product {
  line-height: 15px;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  font-weight: 250;
  text-align: left;
}
.card-of-product1 .coffee_cup {
  display: flex;
}
.card-of-product1 .coffee_cup img {
  margin-right: -10px;
  width: 30px;
  opacity: 40%;
}
.card-of-product1 .discound_shape {
  display: flex;
  width: 62px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.card-of-product1 .discound_shape p {
  color: #44726e;
  font-weight: 500;
  font-size: 14px;
}
.card-of-product1 .card_price sup::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 43px;
  right: 0;
  border-top: 3px solid;
  border-color: red;
  transform: rotate(-5deg);
}
.card-of-product1 .shop_buttons {
  width: 100px;
  height: 45px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-of-product1 .favorite_icon {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 3px;
}
.card-of-product1 .favorite_icon input + .like_button1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  transition: all 0.2s ease-out;
  background-color: #fff;
  align-items: center;
  /* &:hover {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              width: 41px;
              height: 41px;
          } */
}
.card-of-product1 .favorite_icon input + .like_button1231 path {
  fill: #44726e;
}
.card-of-product1 .favorite_icon input:checked + .like_button1231 {
  background-color: rgb(175, 0, 0);
}
.card-of-product1 .favorite_icon input:checked + .like_button1231 path {
  fill: #fff;
}
.card-of-product1 .favorite_icon img {
  width: 60%;
  object-fit: contain;
}
.card-of-product1 .bell-ring {
  line-height: 12px;
  margin-bottom: 8px;
}
.card-of-product1 .ring_checkbox {
  cursor: pointer;
  margin-bottom: 0;
}
.card-of-product1 .ring_checkbox input + .bell-ring1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  /* background-color: #45726e; */
  /* &:hover {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 41px;
            height: 41px;
        } */
}
.card-of-product1 .ring_checkbox input:checked + .bell-ring1231 path {
  stroke: rgb(175, 0, 0);
}
.card-of-product1 .ring_checkbox img {
  width: 60%;
  object-fit: contain;
}
.card-of-product1 .shop_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.card-of-product1 .shop_icon svg {
  width: 45%;
}
.card-of-product1 .shop_icon path {
  fill: #44726e;
}
.card-of-product1 .shop_icon img {
  width: 60%;
  object-fit: contain;
}
.card-of-product1 .shop_icon:hover {
  width: 42px;
  height: 42px;
  background-color: #432222;
}

.music_slider {
  position: relative;
}
.music_slider .watermark {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  bottom: -26px;
}
.music_slider .watermark img {
  width: 180px;
  opacity: 15%;
}

.music_area {
  height: 246px;
  width: 365px;
}
.music_area .plak {
  z-index: -1;
  position: relative;
  top: -238px;
  width: 234px;
  left: 128px;
  animation: 6s linear infinite rotate;
}
.music_area .jaz {
  z-index: 3;
  width: 265px;
  height: 246px;
  border-radius: 20px 20px 20px 20px;
  background-size: cover;
  background-position: center;
}
.music_area .jaz .jaz_color {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}
.music_area .jaz .jaz_color .jaz_text {
  position: relative;
  top: 36%;
  left: 5%;
  padding: 5px;
  width: 90%;
  height: 95px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 10px 10px 10px 10px;
}
.music_area .jaz .jaz_color .jaz_text h1 {
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
  font-weight: 100;
  text-align: left;
}
.music_area .jaz .jaz_color .jaz_text p {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-align: left;
}

.button_scss {
  font: 12px poppins;
  border-radius: 15.5px 15.5px 15.5px 15.5px;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  color: #45726E;
  background: red;
  /* default color */
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(190, 32, 32) 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button_scss:hover {
  background-position: left;
  color: #ffffff;
}
.button_scss:hover svg path {
  transition: 1s ease-out;
  fill: rgb(255, 255, 255);
}

.music_carousel {
  height: 325px;
}
.music_carousel body,
.music_carousel html {
  position: relative;
  height: 100%;
}
.music_carousel body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.music_carousel .swiper {
  width: 100%;
  height: 100%;
}
.music_carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.music_carousel .swiper-slide img {
  display: block;
  object-fit: cover;
}

.video_slayder {
  margin-top: 20px;
}

.video_carousel {
  height: 450px;
}
.video_carousel body,
.video_carousel html {
  position: relative;
  height: 100%;
}
.video_carousel body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.video_carousel .swiper {
  width: 100%;
  height: 100%;
}
.video_carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.video_carousel .swiper-slide img {
  display: block;
  object-fit: cover;
}

.winning_products {
  margin-top: 80px;
}
.winning_products .main_product_card {
  width: 287px;
  height: 424px;
  background-size: cover;
}
.winning_products .main_product_card h1 {
  font-size: 16px;
  color: #ffffff;
  padding-left: 20px;
  margin-top: -50px;
  text-align: center;
}
.winning_products .main_product_card p {
  font-size: 12px;
  color: #ffffff;
  line-height: 0;
}
.winning_products .main_product_card .product_text1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.winning_products .main_product_card .product_text1 :nth-child(2) {
  text-decoration: underline;
}
.winning_products .main_product_card .product_photo {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: -65px;
}
.winning_products .main_product_card .product_photo img {
  height: 220px;
}

.footer .footer_background {
  background: url("/assets/images/shape_footer.png");
  background-color: #004D3F;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}
.footer .footer_background h1 {
  font-size: 16px;
  color: #fff;
  font-weight: 200;
}
.footer .footer_background p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}
.footer .footer_background .text_area_fotter {
  display: flex;
  justify-content: space-around;
}
.footer .footer_background .adress_text {
  padding: 10px;
  max-width: 223px;
}
.footer .footer_background .link_textbox {
  padding: 10px;
}
.footer .footer_background .social_media_icon {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_background .social_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.315);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.footer .footer_background .social_icon i {
  color: #fff;
  font-size: 14px;
}
.footer .line1 {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #00382E;
  align-items: center;
  justify-content: space-around;
}
.footer .line1 p {
  font-size: 12px;
  color: #fff;
  font-weight: 200;
}
.footer .line1 img {
  height: 15px;
}
.footer .line2 {
  height: 50px;
  width: 100%;
  background-color: #002620;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .line2 img {
  height: 40px;
}

.banner1 {
  margin-bottom: 20px;
}
.banner1 div {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.top_header {
  padding: 0 15px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  top: 0;
  align-content: center;
}
.top_header:last-child {
  margin-left: 100px;
}
.top_header a {
  color: unset;
}
.top_header a img {
  width: 110px;
}
.top_header a :hover {
  color: unset;
}
.top_header i {
  font-size: 14px;
  color: #585955;
}
.top_header .header_right {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 13px;
}
.top_header button {
  background-color: unset;
  padding: unset;
  line-height: unset;
  color: #000;
  border-radius: unset;
}
.top_header button :active {
  color: #b71a1a;
}

.modal_close {
  background-color: #b71a1a;
  padding: 6px 10px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  margin-top: 20px;
}
.modal_close :hover {
  color: white;
}

.modal_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.modal_main .login_button_modal {
  background-color: #efae20;
  border-radius: 12px 12px 12px 12px;
  padding: 6px 10px;
  width: 200px;
}
.modal_main .login_button_modal:active {
  background-color: #b71a1a;
  color: #fff;
  border-radius: 12px 12px 12px 12px;
  padding: 6px 10px;
  width: 200px;
}
.modal_main .profil_edit_modal {
  background: transparent;
  font-size: 14px;
}
.modal_main .profil_edit_modal:active {
  color: #b71a1a;
}
.modal_main .profil_edit_modal:hover {
  background-color: transparent;
}

.magazine {
  display: flex;
  width: 100%;
  justify-content: center;
}
.magazine .magazine_bg {
  background-image: url("/assets/images/sfondo-chicchi.jpg");
  width: 300px;
  height: 430px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magazine .magazine_bg img {
  height: 73%;
}

.blog {
  width: 365px;
  height: 219.5px;
  border-radius: 18px;
  box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
  background-position: center;
  background-size: cover;
  position: relative;
}
.blog h1 {
  position: absolute;
  font-size: 14px;
  color: #fff;
  line-height: 1.8;
  font-weight: 200;
  text-align: left;
  background-color: green;
  max-width: 335px;
  border-radius: 6px;
  padding: 0 7px 0 5px;
  border-left: 10px solid #b71a1a;
  bottom: 65px;
  left: 10px;
}

.product_detail_carousel .swiper-button-prev:after {
  font-size: 20px;
  transform: translate(-13px, 0px);
}
.product_detail_carousel .swiper-button-next:after {
  font-size: 20px;
  transform: translate(13px, 0px);
}
.product_detail_carousel .product_photo_Detail_page {
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position: center;
}
.product_detail_carousel .left_right_arrow {
  transform: translate(0px, -358px);
  z-index: 8;
  position: relative;
  height: auto;
  width: 30px;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.prosuct_count_area {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  top: -106px;
  z-index: 1;
  margin-bottom: -135px;
}
.prosuct_count_area .prosuct_count {
  width: 42px;
  height: 110px;
  background-color: #005d4c;
  border-radius: 18px 18px 18px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.prosuct_count_area .prosuct_count input {
  text-align: center;
  font-size: 14px;
  line-height: 0;
  padding: 5px 0;
  width: 30px;
  height: 30px;
  background-color: #007c5d;
  border: 0;
  color: #fff;
}
.prosuct_count_area .prosuct_count button {
  display: flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 0;
  background-color: #014136;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.prosuct_count_area .prosuct_count .button-minus {
  opacity: 40%;
}

.product_information_txt {
  padding: 10px;
}
.product_information_txt h1 {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 25px;
}
.product_information_txt p {
  margin-top: 14px;
  font-size: 12px;
  line-height: 17px;
  color: rgb(140, 140, 140);
  font-weight: 200;
}
.product_information_txt .detail_video_border {
  width: 34px;
  height: 68px;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  border: 6px solid #f7345e;
  border-right: 0;
  padding: 3px;
}
.product_information_txt .detail_video_background {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.4));
}
.product_information_txt .detail_video_background svg {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
.product_information_txt .detail_video_background svg path {
  fill: rgb(255, 255, 255);
}

.comment_area {
  width: 100%;
  border-top: 1px solid #f0f0f0;
}
.comment_area .comments_header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 7px;
}
.comment_area .comments_header p {
  font-size: 12px;
  color: #000;
}

.commented_product {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.commented_product .commented_product_photo {
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  width: 90px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.commented_product .commented_product_photo img {
  height: 115px;
  max-width: unset;
}

.commented_product_text h1 {
  font-size: 14px;
  font-weight: 300;
  color: black;
}
.commented_product_text p {
  height: 15px;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}

.rating-wrapper {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 8px;
  color: #333;
}
.rating-wrapper span {
  padding-left: 5px;
}

.comments {
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
}
.comments p {
  font-size: 12px;
}

.comment-text {
  font-size: 12px;
  color: #666;
  line-height: 15px;
  overflow: hidden;
  max-height: 106px;
  text-overflow: ellipsis;
}

.product_weight1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.product_weight1 span {
  font-size: 12px;
  color: #666;
}
.product_weight1 p {
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}
.product_weight1 .active {
  background-color: rgb(68, 114, 110) !important;
}
.product_weight1 .active svg {
  fill: #fff !important;
}

.product_weight1_circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: rgba(100, 182, 175, 0.267);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.product_weight1_circle svg {
  fill: #005e4c;
}

.price_rating {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.rating_stars img {
  opacity: 30%;
  width: 20px;
}

.card_price sup::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 43px;
  right: 0;
  border-top: 3px solid;
  border-color: red;
  transform: rotate(-5deg);
}

.addtocard_price {
  position: fixed;
  width: 100%;
  z-index: 2;
  bottom: -8px;
}
.addtocard_price svg {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px -4px 7px rgba(0, 0, 0, 0.4));
}
.addtocard_price .card_price {
  position: absolute;
  top: 20px;
  left: 17px;
  z-index: 3;
}
.addtocard_price button {
  position: absolute;
  z-index: 3;
  right: 17px;
  top: 14px;
  border-radius: 15px 15px 15px 15px;
  padding: 5px 8px;
  background-color: #004d3f;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
.addtocard_price button:active {
  background-color: #007c5d;
}

.favorite_header {
  background: linear-gradient(90deg, rgb(68, 114, 110) 0%, rgb(0, 77, 63) 35%, rgb(68, 114, 110) 100%);
  margin-top: 45px;
  width: 100%;
  border-top: 1px solid rgb(88, 89, 85);
  border-bottom: 1px solid rgb(88, 89, 85);
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite_header h1 {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.favorite_products {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.favorite_products .card-of-product {
  margin-bottom: 15px;
}

.share_and_favorite_button .card-top-buttons {
  display: flex;
  width: 45px;
  flex-direction: column;
  align-items: center;
}
.share_and_favorite_button .card-top-buttons img {
  width: 17px;
  object-fit: contain;
}
.share_and_favorite_button .action_button {
  margin-bottom: 10px;
}
.share_and_favorite_button .share_button {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share_and_favorite_button .bell-ring {
  line-height: 12px;
  margin-bottom: 8px;
}
.share_and_favorite_button .ring_checkbox {
  cursor: pointer;
  margin-bottom: 0;
}
.share_and_favorite_button .ring_checkbox input + .bell-ring1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  /* background-color: #45726e; */
  /* &:hover {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 41px;
          height: 41px;
      } */
}
.share_and_favorite_button .ring_checkbox input:checked + .bell-ring1231 path {
  stroke: rgb(175, 0, 0);
}
.share_and_favorite_button .ring_checkbox img {
  width: 60%;
  object-fit: contain;
}
.share_and_favorite_button .star_icon {
  width: 30px;
  height: 30px;
  background: url("/assets/images/Icon-star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share_and_favorite_button .star_icon p {
  margin-top: 4px;
  font-size: 10px;
  color: #fff;
}
.share_and_favorite_button .favorite_icon {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 3px;
}
.share_and_favorite_button .favorite_icon input + .like_button1231 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  transition: all 0.2s ease-out;
  background-color: #45726e;
  /* &:hover {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 41px;
            height: 41px;
        } */
}
.share_and_favorite_button .favorite_icon input:checked + .like_button1231 {
  background-color: rgb(175, 0, 0);
}
.share_and_favorite_button .favorite_icon img {
  width: 60%;
  object-fit: contain;
}

.login_page * {
  margin: 0;
  padding: 0;
}
.login_page body {
  background: url("https://westfieldcc.files.wordpress.com/2011/10/simple-blur-ipad-background.jpg") no-repeat center center fixed;
  background-size: cover;
}
.login_page .wrapper {
  width: 100%;
  font-family: sans-serif;
  color: #98927C;
  font-size: 14px;
  line-height: 24px;
  min-width: 340px;
  overflow: hidden;
}
.login_page .tabs {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background: #004d3f;
  gap: 5px;
}
.login_page .tabs li {
  list-style: none;
  float: left;
  width: 50%;
}
.login_page .tabs a {
  display: flex;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #fff;
  background: rgb(12, 117, 92);
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;
  padding: 10px;
}
.login_page .tabs a.active, .login_page .tabs a:hover {
  background: rgb(255, 255, 255);
  color: #004d3f;
}
.login_page .tabgroup div {
  padding: 30px;
  background: #ffffff;
}
.login_page .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.login_page .login_side .q-input {
  background-color: #f8f8f8;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  color: #666;
  font-weight: 400;
  -webkit-appearance: none;
}
.login_page .login_side .q-input::placeholder {
  color: #666;
}
.login_page .login_side .q-input:focus {
  background-color: #f8f8f8;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  font-weight: 400;
  color: #666;
  -webkit-appearance: none;
}
.login_page .login_side .q-input:focus::placeholder {
  color: #666;
}
.login_page .login_side .button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  padding: 7px 0;
  background: #004d3f;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.login_page .login_side .button:active {
  background: #007c5d;
}

.gobackbutton {
  width: 20px;
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}
.gobackbutton:hover {
  background: rgba(255, 255, 255, 0);
}
.gobackbutton svg {
  fill: rgb(255, 255, 255);
}
.gobackbutton:active svg {
  fill: rgb(182, 0, 0);
}

.gobackbutton1 {
  width: 20px;
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}
.gobackbutton1:hover {
  background: rgba(255, 255, 255, 0);
}
.gobackbutton1 svg {
  fill: rgb(68, 114, 110);
}
.gobackbutton1:active svg {
  fill: rgb(182, 0, 0);
}

.gender .active {
  border: solid 1.5px #004d3f !important;
  background: #fff !important;
  color: #004d3f !important;
  font-weight: 600 !important;
}

.steps {
  font-size: 10px;
  color: #666666;
  line-height: 16px;
}
.steps li span {
  position: relative;
  left: -7px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #45726e;
  color: white;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 50%;
}

.review-add-form {
  padding: 15px;
}

.comment-input {
  height: 130px;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}
.comment-input::placeholder {
  color: #666;
}
.comment-input:focus {
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}
.comment-input:focus::placeholder {
  color: #666;
}

.cart {
  padding: 15px;
}
.cart .cart_header {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.cart p {
  font-size: 12px;
  color: black;
}
.cart div {
  font-size: 12px;
  color: black;
}
.cart .content_text span {
  font-size: 16px;
  color: #004d3f;
  font-weight: 700;
}
.cart .prosuct_count {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid #e6e6e6;
  gap: 5px;
}
.cart .prosuct_count input {
  text-align: center;
  font-size: 12px;
  line-height: 0;
  padding: 5px 0;
  width: 20px;
  height: 20px;
  background-color: #007c5d;
  border: 0;
  color: #fff;
}
.cart .prosuct_count button {
  display: flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 0;
  background-color: rgba(1, 65, 54, 0);
  color: #014136;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.cart .prosuct_count .button-minus {
  opacity: 40%;
}

.product_photo_cart {
  width: 32%;
  min-width: 70px;
  border-radius: 3px;
  height: auto;
  margin-right: 15px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.delete_product_from_cart {
  background: transparent;
  font-size: 15px;
  color: #004D3F;
}
.delete_product_from_cart:hover {
  background: transparent;
}
.delete_product_from_cart:active {
  color: #b71a1a;
}

.discount_coupon {
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.discount_coupon input {
  background-color: #f8f8f8;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  color: #666;
  font-weight: 400;
  -webkit-appearance: none;
}
.discount_coupon input::placeholder {
  color: #666;
}
.discount_coupon input:focus {
  background-color: #f8f8f8;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  font-weight: 400;
  color: #666;
  -webkit-appearance: none;
}
.discount_coupon input:focus::placeholder {
  color: #666;
}

.discount_coupon_parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.discount_coupon_parent .button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  padding: 7px 0;
  background: #004d3f;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.discount_coupon_parent .button:active {
  background: #007c5d;
}
.q-input {
  background-color: #f8f8f8 !important;
  font-size: 12px !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 3px !important;
  height: 40px !important;
  padding: 10px !important;
  color: #666 !important;
  font-weight: 400 !important;
  -webkit-appearance: none !important;
  line-height: 14px !important;
}
.q-input::placeholder {
  color: #666 !important;
}
.q-input:focus {
  background-color: #f8f8f8 !important;
  font-size: 12px !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 3px !important;
  height: 40px !important;
  padding: 10px !important;
  font-weight: 400 !important;
  color: #666 !important;
  -webkit-appearance: none !important;
}
.q-input:focus::placeholder {
  color: #666 !important;
}

.h1_class_14px {
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 14px;
}

.p_class_12px {
  font-size: 12px;
  color: black;
  line-height: 14px;
}

.button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  padding: 7px 0;
  background: #004d3f;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.button:active {
  background: #007c5d;
}
.button1 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px;
  padding: 2px 20px;
  border: 1px solid #e6e6e6;
  background: rgba(0, 77, 63, 0);
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  transition: color 0.2s ease-out;
}
.button1:active {
  background: #007c5d;
  color: #fff;
}
.order_wrapper {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.order_wrapper .order_img {
  width: 25%;
  min-width: 70px;
  border-radius: 3px;
  height: auto;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.coupons {
  display: flex;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ffbf99;
  background: #ffefe5;
  flex-direction: row;
}
.coupons .ticket_effect {
  bottom: -1px;
  height: 8px;
  width: 16px;
  border: 1px solid #ffbf99;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0 1px 0 0 #fff;
}
.coupons .ticket_effect_up {
  height: 8px;
  width: 16px;
  border: 1px solid #ffbf99;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0 1px 0 0 #fff;
  transform: rotate(180deg);
  top: -1px;
}

.js-copytextarea {
  text-align: center;
  overflow: hidden;
  resize: none;
  width: 100%;
  line-height: 11px;
  padding-top: 10px;
  font-size: 12px;
  color: #000;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
}
.js-copytextarea:focus {
  color: #000;
  background: transparent;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
